<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(images/img_bg_1.jpg);">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc">
            <h1 class="animate-box" data-animate-effect="fadeInUp">Get In Touch</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="gtco-section">
  <div class="gtco-container">
    <div class="row row-pb-md">
      <div class="col-md-6 animate-box">
        <h3>Get In Touch</h3>
        <form name="ContactForm">
          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="name">Name</label>
              <input type="text" id="name" class="form-control" ng-model="contactName" ng-model="contact.name"  placeholder="Your firstname">
            </div>

          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="email">Email</label>
              <input type="text" id="email" class="form-control" ng-model="contact.email" placeholder="Your email address">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="subject">Subject</label>
              <input type="text" id="subject" class="form-control" name="contactSubject" ng-model="contact.subject" placeholder="Your subject of this message" required ng-minlength="5">
              <div class="err-msg" ng-messages="ContactForm.contactSubject.$error" ng-if="ContactForm.contactSubject.$touched">
                  <div ng-message="required">Subject is required</div>
                  <div ng-message="minlength">Subject is too short</div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="message">Message</label>
              <textarea name="message" id="message" cols="30" rows="10" ng-model="contact.message" class="form-control" required ng-minlength="10" placeholder="Write us something"></textarea>
              <div class="err-msg" ng-message="ContactForm.message.$error" ng-if="ContactForm.message.$touched">
                   <div ng-message="required">Message is required</div>
                   <div ng-messsage="minlength">Message is too short</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" ng-click="submitContactForm()" ng-disabled="ContactForm.$invalid" class="btn btn-primary btn-lg">
          </div>

        </form>
      </div>
      <div class="col-md-5 col-md-push-1 animate-box">

        <div class="gtco-contact-info">
          <h3>Contact Information</h3>
          <ul>
            <li class="address">190 West 21th Street, <br> Suite 721 Lagos LG 10016</li>
            <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
            <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>

          </ul>
        </div>


      </div>
    </div>
    </div>

  </div>
</div>
