<header id="gtco-header" class="gtco-cover"  style="background-image:url(images/img_bg_1.jpg);height:100px;">

</header>
<div class="gtco-section">
 <div class="gtco-container">
   <div class="row row-pb-md">
     <div class="col-md-6 col-md-offset-3 animate-box">
       <h2 class="text-center">Reset Password</h2>
       <hr/>
       <form name="ResetForm">


         <div class="row form-group">
           <div class="col-md-12">
             <label class="sr-only" for="email">Email</label>
             <input type="text" id="email" class="form-control" placeholder="Your email address" name="resetEmail" ng-model="resetEmail" required ng-pattern="^[a-zA-Z|/w]+@[/D/.]+">
             <div class="error-msg" ng-messages="ResetForm">
                     <div ng-message="required">Email is required</div>
                     <div ng-message="pattern">Invalid email address</div>
             </div>
           </div>
         </div>



         <div class="form-group">
           <input type="submit" value="Send Reset Link" ng-click="sendPasswordResetLink()" class="btn btn-primary col-lg-12 btn-lg">
         </div>

       </form>

     </div>
 </div>
</div>
</div>
