<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="display-t">
          <div class="display-tc">
            <h1 class="animate-box" data-animate-effect="fadeInUp"></h1>

            <p class="animate-box" data-animate-effect="fadeInUp">

             <form class="">
               <div class="row form-group">
                 <div class="col-md-12">
                   <div class="col-md-8 col-md-offset-2">
                     <input type="text" id="name" class="form-control outline" style="color:green;font-size:1.5em;background-color:white;" placeholder="Search the marketplace...">
                   </div>

                 </div>

               </div>
            </form>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

  <div id="gtco-features">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
          <h2> Features</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="ti-tablet"></i>
            </span>
            <h3>Convinience</h3>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="ti-hand-point-right"></i>
            </span>
            <h3>Connectivity and Trust</h3>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="ti-world"></i>
            </span>
            <h3>Access to wide market</h3>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="ti-shopping-cart"></i>
            </span>
            <h3>Variety</h3>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="gtco-portfolio" class="gtco-section">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
          <h2>Latest</h2>

        </div>
      </div>

      <div class="row row-pb-md">
        <div class="col-md-12">
          <ul id="gtco-portfolio-list">

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_1.jpg); ">
              <a href="#" class="color-1">
                <div class="case-studies-summary">
                  <span>Quiz</span>
                  <h2>The Outer Space</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_2.jpg); ">
              <a href="#" class="color-2">
                <div class="case-studies-summary">
                  <span>Quiz</span>
                  <h2>Blue Water</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_2.jpg); ">
              <a href="#" class="color-2">
                <div class="case-studies-summary">
                  <span>Quiz</span>
                  <h2>Planet Earth</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_3.jpg); ">
              <a href="#" class="color-3">
                <div class="case-studies-summary">
                  <span>Quiz</span>
                  <h2>Building Builded by Man</h2>
                </div>
              </a>
            </li>
            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_4.jpg); ">
              <a href="#" class="color-4">
                <div class="case-studies-summary">
                  <span>Book</span>
                  <h2>The Peaceful Place On Earth</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_4.jpg); ">
              <a href="#" class="color-4">
                <div class="case-studies-summary">
                  <span>Quiz</span>
                  <h2>The Peaceful Place On Earth</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_5.jpg); ">
              <a href="#" class="color-5">
                <div class="case-studies-summary">
                  <span>Quiz</span>
                  <h2>The Islands</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_6.jpg); ">
              <a href="#" class="color-6">
                <div class="case-studies-summary">
                  <span>Illustration</span>
                  <h2>Beautiful Flowers In The Air</h2>
                </div>
              </a>
            </li>

            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_6.jpg); ">
              <a href="#" class="color-6">
                <div class="case-studies-summary">
                  <span>Illustration</span>
                  <h2>Banks</h2>
                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center animate-box">
          <a href="#" class="btn btn-white btn-outline btn-lg btn-block">View All</a>
        </div>
      </div>


    </div>
  </div>

  <div id="gtco-counter" class="gtco-section">
    <div class="gtco-container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
          <h2>Fun Facts</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-package"></i>
            </span>
            <span class="counter js-counter" data-from="0" data-to="2520700" data-speed="5000" data-refresh-interval="50">1</span>
            <span class="counter-label">Submissions</span>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-star"></i>
            </span>
            <span class="counter js-counter" data-from="0" data-to="970000" data-speed="5000" data-refresh-interval="50">1</span>
            <span class="counter-label">Creators</span>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-money"></i>
            </span>
            <span class="counter js-counter" data-from="0" data-to="212023" data-speed="5000" data-refresh-interval="50">1</span>
            <span class="counter-label">Transactions</span>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="gtco-products">
    <div class="gtco-container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
          <h2>Most popular</h2>

        </div>
      </div>
      <div class="row animate-box">
        <div class="owl-carousel owl-carousel-carousel">
          <div class="item">
            <img src="images/img_1.jpg" alt="">
          </div>
          <div class="item">
            <img src="images/img_1.jpg" alt="">
          </div>
          <div class="item">
            <img src="images/img_1.jpg" alt="">
          </div>
          <div class="item">
            <img src="images/img_1.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="gtco-subscribe">
    <div class="gtco-container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>Subscribe</h2>
        </div>
      </div>
      <div class="row animate-box">
        <div class="col-md-12">
          <form class="form-inline">
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Your Email">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Your Name">
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <button type="submit" class="btn btn-default btn-block">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
