<header id="gtco-header" class="gtco-cover"  style="background-image:url(images/img_bg_1.jpg);height:100px;">

</header>
<div class="gtco-section">
  <div class="gtco-container">
    <div class="row row-pb-md">
      <div class="col-md-10 col-md-offset-2  animate-box">
            <div style="font-size:1.8em;">Inbox</div>
            <hr/>
            <div class="col-md-12">
                <a href="/#/inbox_details/">
                  <p>
                    a little of the description text is herea little of the description text is here
                    a little of the description text is herea little of the description text is....
                  </p>
                </a>
              <hr/>
            </div>

            <div class="col-md-12">
                <a href="/#/inbox_details/">
                  <p>
                    a little of the description text is herea little of the description text is here
                    a little of the description text is herea little of the description text is....
                  </p>
                </a>
              <hr/>
            </div>
      </div>
    </div>
  </div>

</div>
</div>
