<header id="gtco-header" class="gtco-cover"  style="background-image:url(images/img_bg_1.jpg);height:100px;">

</header>
<div class="gtco-section">
  <div class="gtco-container">
    <div class="col-md-12 row-pb-md">
        <div class="col-md-9 animate-box">

              <div class="col-md-4" style="margin-bottom:2em;" ng-repeat="teen in iteenagers">
              <img src="{{teen.image}}" height="150" width="100" style="width:100%;" />
              <div class="text-center">
              <span style="font-size:1.2em;">{{teen.firstname}} {{teen.lastname}}</span><br/>

              <span><a href="/#/teenager/{{teen._id}}">View Profile</a></span>

              <div class="col-md-12">
                <div class="col-md-3 col-md-offset-2">
                  <a href="/#/teenager/{{teen._id}}/edit" class="btn btn-default">Edit</button>
                </div>
              </div>

        </div>
      </div>
    </div>

    <div class="col-md-3">
        <input type="text" class="form-control"  placeholder="Search" style="height:2em;"/>
        <span>Filter by : </span>
    </div>
  </div>
</div>
