<header id="gtco-header" class="gtco-cover"  style="background-image:url(images/img_bg_1.jpg);height:100px;">

</header>
<div class="gtco-section">
  <div class="gtco-container">
      <div class="row row-pb-md">
        <div class="col-md-12 animate-box">

            <div class="row">
                <div class="col-md-12 text-center">
                      <h2 class="text-success">Congratulations!</h2>
                      <p style="font-size:1.5em;">
                          Your quiz has been successfully created and publish.

                          Click <a href="/#/quiz">here</a> to view the quizzes.
                      </p>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
